<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <main>
      <h1>BIENVENIDO A CINEMA APP</h1>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
