<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <h1>HOLA SOY EL FOOTER</h1>
    </footer>
  </body>
</html>
